.login{
    width: 100%;
    height: 934px;
    opacity: .2;
    background: url('bg-01.jpg');
    background-size: cover;
}
.login-box{
    color: #000000;
    position: relative;
    width: 45%;
    height: 650px;
    background: white;
    margin: auto;
    top: 20%;
    border-radius: 9px;
    /* background-image: linear-gradient(141deg, #35755a 0%, #4a969e 51%, #1b5e77 75%); */
}
.circle{
    position: relative;
    margin: auto;
    width: 120px;
    height: 120px;
    border-radius: 60px;
    border: 1px solid grey;
    top: 35px;
}
.title {
    position: relative;
    top: 60px;
    font-size: 25px;
    margin: auto;
    width: 95px;
}
.login-form {
    position: relative;
    width: 100%;
    height: 250px;
    margin: auto;
    top: 10%;
}
input[type="text"]{
    width: 461px;
    height: 46px;
    border: none;
    border: 0 0 0 2px;
    border-bottom: 2px solid grey;
    padding: 5px 0px 0px 0px;
    margin: 15px 0px 0px 0px;
    background: transparent;
    
}
input[type="text"].bg-user{
    background-image: url('user.png');
    background-size: 25px 25px;
    background-repeat: no-repeat;
}
input[type="text"].bg-lock{
    background-image: url('lock.jpg');
    background-size: 25px 25px;
    background-repeat: no-repeat;
}
input[type="checkbox"]{
    width: 20px;
    height: 20px;
    position: relative;
    top: 5px;
    margin: 20px 10px 0px 0px;
}
.pad10 {
    padding: 30px 30px 40px 20px;
}
.btnn {
    position: relative;
    margin: auto;
    width: 15%;
}
.btnn button{
    width: 100px;
    height: 50px;
    border-radius: 25px;
    border: none;
}